ACTION=="change", SUBSYSTEM=="drm", ENV{DISPLAY}=":1", ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority", ENV{EXTERNAL_OUTPUT}="HDMI-2", RUN+="/bin/bash /usr/local/bin/udev_scripts/external_monitor_switch.sh &"
ACTION=="change", SUBSYSTEM=="drm", ENV{DISPLAY}=":1", ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority", ENV{EXTERNAL_OUTPUT}="DP-1", RUN+="/bin/bash /usr/local/bin/udev_scripts/external_monitor_switch.sh &"
ACTION=="change", SUBSYSTEM=="drm", ENV{DISPLAY}=":1", ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority", ENV{EXTERNAL_OUTPUT}="DP-2", RUN+="/bin/bash /usr/local/bin/udev_scripts/external_monitor_switch.sh &"
