[Desktop Entry]
Type=Application
Exec=veracrypt
Icon=veracrypt.xpm
Comment=Disk encryption with strong security based on TrueCrypt
Terminal=false
Name=veracrypt
GenericName=Encryption tool
StartupNotify=true
Categories=System;Administration;
